.Log-rowContainer {
  padding: 0 5px; /* 或你想要的間距，例如 8px、24px 等 */
}

.Log-time {
  color: rgb(27, 27, 27);
  font-size: 18px;
  font-weight: 600;
}

.Log-message {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 600;
}
